@import '../colors.scss';
@import './colors-example/colors-example.scss';
@import './fonts-example/fonts-example.scss';
.colorAndTypes{
    width: 1440px;
    height: 900px;
}
.colorAndTypes--logo{
    position: absolute;
    top: 30px;
    left: 30px;    
}
.colorAndTypes-colors{    
    float: left;    
    margin-left: 142px; 
    margin-top:  137px;        
}
.colorAndTypes-fonts{
    float: right;
    margin-top: 137px;    
    margin-right: 175px;
}
.color-box{
    margin-bottom: 20px;
}

.colorAndTypes__fontWrapperH1{
    margin-bottom: 40px;
}
.colorAndTypes__fontWrapperH2{
    margin-bottom: 16px;
}
.colorAndTypes__fontWrapperH3{
    margin-bottom: 5px;    
}

.dark-shade100{
    background: $dark-shade100;
}
.dark-shade75{
    background: $dark-shade75;
}

.dark-shade50{
    background: $dark-shade50;
}
.dark-shade25{
    background: $dark-shade25;
}
.dark-shade5{
    background: $dark-shade5;
}
.purple{
    background: $purple;
}
.green{
    background: $green
}
