include ./colors-example/colors-example.pug
include ./fonts-example/fonts-example.pug
div.colorAndTypes         
    div.logo.colorAndTypes--logo           
    div.colorAndTypes-colors
        div.color-box                    
            +color-box('Dark Shade 100%','#1F2041','dark-shade100')
        div.color-box
            +color-box('Dark Shade 75%','#1F2041','dark-shade75')
        div.color-box
            +color-box('Dark Shade 50%','#1F2041','dark-shade50')
        div.color-box
            +color-box('Dark Shade 25%','#1F2041','dark-shade25')
        div.color-box
            +color-box('Dark Shade 5%','#1F2041','dark-shade5')
        div.color-box
            +color-box('Purple','#BC9CFF','purple')
        div.color-box
            +color-box('Green','#6FCF97','green')
    div.colorAndTypes-fonts
        div.font-box
            +font-box('H1','This one is the sub-section or<br>widget title')    
        div.font-box
            +font-box('H2','Next one is the item title inside<br>widgets')    
        div.font-box
            +font-box('H3','This is a label or cta text')    
        div.font-box
            +font-box('Body','This is the body text which is used for most<br>of the design, like paragraphs, lists, etc.')    