mixin ghostDropdownLine(caption)
    div.ghostDropdownLine
        h3.ghostDropdownLine__caption= caption
        div.ghostDropdownLine__counter
            button.ghostDropdownLine__button(type="button") -            
            h3.ghostDropdownLine__value 2
            button.ghostDropdownLine__button(type="button") +

mixin ghostDropdown(dropdownCaption,dropdownType)       
    div.ghostDropdown(class!=attributes.class)
        if dropdownCaption && dropdownType
            h3.field__caption= dropdownCaption
            h3.field__type= dropdownType
        else if dropdownCaption
            h3.field__caption= dropdownCaption
        input.field.dropdown(type="text" readonly)
        div(id="ghostDropdownList")            
            +ghostDropdownLine("Взрослые")    
            +ghostDropdownLine("Дети")    
            +ghostDropdownLine("Младенцы")
            div.ghostDropdownLineButton
                button.clear-no-border-button Очистить
                button.apply-no-border-button Применить