.input__field{    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    color: $dark-shade25;
    font-size: 14px;
    line-height: 24px;
    width: 320px;   
    height: 44px;
    box-sizing: border-box;
    border: 1px solid $dark-shade25;
    border-radius: 4px;        
    padding: 13px 15px;    
}
.input__field:hover{
    border: 1px solid $dark-shade50;
    color: $dark-shade75;
}
.input__field:focus{
    border: 1px solid $dark-shade50;
    color: $dark-shade75;
}
.input{
    width: 320px;
}
.input__caption{
    float: left;
    margin:3px 0 5px 0;
}
.input__type{    
    float:right;
    font-weight: normal;      
    margin:0 0 8px 0;
    color: $dark-shade50;
}