@import '../colors.scss';
@import './colors-example.scss';
@import './fonts-example.scss';
.colorAndTypes-logo{
    position: absolute;
    top: 30px;
    left: 30px;        
}
.colorAndTypes-colors{    
    float: left;    
    margin-left: 142px; 
    margin-top: 117px;    
    border: 1px dashed black;
}
.colorAndTypes-fonts{
    float: left;
    margin-top: 117px;
    margin-right: 100px;
    border: 1px dashed black;
}

.dark-shade100{
    background: $dark-shade100;
}
.dark-shade75{
    background: $dark-shade75;
}

.dark-shade50{
    background: $dark-shade50;
}
.dark-shade25{
    background: $dark-shade25;
}
.dark-shade5{
    background: $dark-shade5;
}
.purple{
    background: $purple;
}
.green{
    background: $green
}
