@mixin button-reset{
    padding: 0;
    border: none;    
}
@mixin button-font {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: -0.39px;
    color: white;    
}

.button{
    @include button-reset;
    @include button-font;
    border-radius: 22px;
    height: 44px;    
    padding: 0 21px;
    background: $purple-gradient;
}

.hover-button{    
    opacity: 0.5;
}

.button:hover{
    opacity: 0.5;
}

.arrow-button{        
    width: 320px;        
    vertical-align: middle;   
    letter-spacing: -0.1px;
    background:  url('../images/arrow_forward.svg') 96% 50% no-repeat, $purple-gradient;                 
}

.border-button {  
    position: relative;    
    padding: 0 19px;
    color: $purple;
    background: $background;
    $border: 2px;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;      
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: $purple-gradient;
    }
  }

  .border-button:hover {   
      opacity: 1;
    &:before {  
      opacity: 0.5; 
    }
  }
  .hover-border-button {   
    opacity: 1;
  &:before {  
    opacity: 0.5; 
  }
 }

@mixin button-no-border{
    @include button-reset;
    @include button-font;    
    background-color: $background;
    cursor: pointer;
    letter-spacing: -0.1px;
}
.apply-no-border-button{
    @include button-no-border;
    color: $purple;    
}
.clear-no-border-button{
    @include button-no-border;    
    color:$dark-shade50;
}