include ../menu/menu.pug
- 
    var navigation = [        
        {text: "Home", link: "#", class: "menu__item_active"},
        {text: "About Us", link: "#"},
        {text: "Services", link: "#", class: "menu__item_expand"},
        {text: "Careers", link: "#"},
        {text: "News", link: "#"},
        {text: "Documentation", link: "#"}
    ]
-var user = "Cosmin Negoita"
mixin header(isLogged)
    div.header(class!=attributes.class)
        img.header__logo-toxin(src= require('../images/logo.png'), alt="logo")
        if isLogged
            +header-menu(false, navigation, user)
        else
            +header-menu(true, navigation, user)
            