@import "../menu/menu.scss";

.header{
    display: flex;
    position: relative;
    z-index: 20;
    background: $background;
    padding: 0 140px;
    height: 70px;
    justify-content: space-between;    
    box-shadow: $box-shadow;
}

.header__logo-toxin{        
    margin: auto 0;    
}

.header__button{
    height: 34px;    
}

.header__button-border{
    margin-right:16px;
}

.header__menu > .menu__item{    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
