@import "../menu/menu.scss";

.header{
    display: flex;
    position: relative;
    z-index: 20;
    background: $background;
    padding: 0 140px;
    height: 70px;
    justify-content: space-between;    
    box-shadow: $box-shadow;
}

.header__logo-toxin{        
    margin: auto 0;    
}
.header__buttons{
    margin: auto 0;
    margin-right: -17px;
}
.header-buttons{
    height: 34px;
    margin-right:17px;
}


.header--left{
    display: flex;
    margin: auto 0;    
}
.header--right{
    display: flex;
    margin: auto 0;        
    justify-content: space-between;
}