mixin radio-button(name, label, checked)    
    label.radio-button(class!=attributes.class) !{label}
        if checked
            input.radio-button__input(type='radio' name= name checked)
        else
            input.radio-button__input(type='radio' name= name)
        span.radio-button__checkmark