@import "./datepicker-config.scss";

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */

.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {  
  border-radius: $datepickerBorderRadiusDay;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: $datepickerDayCellSize;  
  z-index: 1;

  &.-focus- {
    background: map_get($datepickerBG, hover);
  }

  &.-current- {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

    &.-focus- {
      color: map_get($datepickerTextColor, common);
    }

    &.-in-range- {
      color: map_get($datepickerTextColor, currentDate);
    }
  }

  &.-in-range- {
    //background: map_get($datepickerBG, inRange);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.25;
    color: map_get($datepickerTextColor, common);
    border-radius: 0;///change

    &.-focus- {
      background-color: rgba(map_get($datepickerBG, inRange), .2);
    }
  }

  &.-disabled- {
    cursor: default;
    color: map_get($datepickerTextColor, disabled);

    &.-focus- {
      color: map_get($datepickerTextColor, disabled);
    }

    &.-in-range- {
      color: darken(map_get($datepickerTextColor, disabled), 5);
    }

    &.-current- {
      &.-focus- {
        color: map_get($datepickerTextColor, disabled);
      }
    }
  }

  &.-range-from- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    //background-color: map_get($datepickerBG, inRange);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
//    border-radius: $datepickerBorderRadius 0 0 $datepickerBorderRadius;    
    border-radius: 50%;    
   
  }
  &.-range-from-::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    opacity: 0.25;
    border-radius:  50% 0 0 50%;
    z-index: -1;
  } 
  &.-range-to- {
    border: 1px solid rgba(map_get($datepickerBG, selected), .5);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    //border-radius:  0 $datepickerBorderRadius $datepickerBorderRadius 0;
    border-radius: 50%;
  }
  &.-range-to-::after{
    content:"";
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    opacity: 0.25;
    border-radius: 0 50% 50% 0;
    z-index: -1;
  }

  &.-range-from-.-range-to- {
    border-radius: $datepickerBorderRadius;

  }

  &.-selected- {
    color: #fff;
    border: none;
    //background: map_get($datepickerBG, selected);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    

    &.-current- {
      color: #fff;
      //background: map_get($datepickerBG, selected);
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &.-focus- {
      //background: map_get($datepickerBG, selectedHover);
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);    
    }
  }

  &:empty {
    cursor: default;
  }
}

//  Day names
// -------------------------------------------------

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: 40px;
}

.datepicker--day-name {
  color: map_get($datepickerTextColor, dayNames);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: none;
  font-size: .8em;
}

//  Day cell
// -------------------------------------------------

.datepicker--cell-day {
  width: (100/7)#{'%'};
//  width: $datepickerCellDayWidth;
//  height: $datepickerCellDayHeight;

  &.-other-month- {
    @extend %otherMonth;
  }
}


//  Months
// -------------------------------------------------

.datepicker--months {}

.datepicker--cells-months {
  height: $datepickerMinBodyHeight;
}

//  Month cell
// -------------------------

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

//  Years
// -------------------------------------------------

.datepicker--years {
  height: $datepickerMinBodyHeight;
}

.datepicker--cells-years {
  height: $datepickerMinBodyHeight;
}
//  Year cell
// -------------------------

.datepicker--cell-year {
  width: 100% / $datepickerYearsPerRow;
  height: 33.33%;

  &.-other-decade- {
    @extend %otherMonth;
  }
}