mixin rate-button(countStar)
    -var n = 0;
    div.rate-button(class!=attributes.class)
        while n < countStar            
            img(src=require('../images/star.svg') alt='rating-star')   
            -n++     
        while 5 > n
            img(src=require('../images/star_border.svg') alt='rating-star')   
            -n++     