@mixin button-reset{
    padding: 0;
    border: none;    
}
@mixin button-font {
    font-family: 'Montserrat-bold',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}
