mixin ghostDropdownLine(caption)
    div.ghostDropdownLine
        h3.ghostDropdownLine__caption= caption
        div.ghostDropdownLine__counter
            button.ghostDropdownLine__button(type="button") -            
            h3.ghostDropdownLine__value 2
            button.ghostDropdownLine__button(type="button") +

mixin ghostDropdown(dropdownCaption,dropdownType)       
    div.dropdown(class!=attributes.class)
        h3.dropdown__caption= dropdownCaption
        h3.dropdown__type= dropdownType
        input(type="text" class="ghostDropdown" readonly)
        div(id="ghostDropdownList")    
            +ghostDropdownLine("Взрослые")    
            +ghostDropdownLine("Дети")    
            +ghostDropdownLine("Младенцы")
            div.ghostDropdownLineButton
                button.button-no-border-clear Очистить
                button.button-no-border-apply Применить