doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title Hello World
    body     
        //include ../reg-account/reg-account.pug
        //include ../find-number/find-number.pug
        //include ../colors-and-types/colors-and-types.pug
        include ./form-elements/form-elements.pug
            