doctype html
html
head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Hello World    
    //<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    //<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
body     
    //include ../reg-account/reg-account.pug
    //include ../find-number/find-number.pug
    //include ../colors-and-types/colors-and-types.pug
    include ./form-elements/form-elements.pug
            