doctype html
html
head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title Hello World
<<<<<<< HEAD
body
    h1 Hello World    
    button.button.button_full click me
    button.button.button_arrow перейти к оплате
        
=======
body     
    //include ../components/reg-account/reg-account.pug
    //include ../components/find-number/find-number.pug
    include ../components/colors-and-types/colors-and-types.pug
    
>>>>>>> ebbca98eb32bb5b31839c89b27c9cbfe56873b30
