mixin subscription(fieldCaption)   
    div.subscription(class!=attributes.class)
        h3.field__caption= fieldCaption        
        div.subscription__container
            input.field.subscription__input(placeholder!=attributes.placeholder type!=attributes.type name!=attributes.name)
            button.subscription__button