mixin color-box(name, value, className)
    div.colorAndTypes__colorWrapper
        div.colorAndTypes__colorSquare(class= className)
        div.colorAndTypes__colorExample
            h2.color-name= name
            h2.color-value= value