include ../../components/headers-footers/header/header.pug
+header(true)(class="headers-footers__header__out")
+header(false)(class="headers-footers__header__in")
include ../../components/headers-footers/footer/footer.pug