button.default-button(type='button') Click me
button.default-button.default-button-big(type='button') Перейти к оплате
    img.arrow(src=require('../../../fonts/Icon/baseline-arrow_forward-24px.svg'), alt="") 
    