@font-face {
    font-family: 'Montserrat Black';
    src: url("../../../fonts/Montserrat/Montserrat-Bold.ttf");
      
}

.default-button{
    padding: 0;
    border: none;    
    font-family: 'Montserrat Black', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: white;
    border-radius: 22px;
    height: 44px;
    width: 99px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.default-button:hover{
    opacity: 0.5;
}