label.find-dropdown__label Прибытие
    input.find-dropdown__input-come(type="text" id="datepicker-here-begin" autoclose="true" data-position="bottom left" placeholder="ДД.ММ.ГГ")
label.find-dropdown__label Выезд
    input.find-dropdown__input-come(type="text" id="datepicker-here-end" data-position="bottom left" placeholder="ДД.ММ.ГГ")    