.find-dropdown__input-come{   
    display: block;
    box-sizing: border-box;
    height: 44px;
    width: 150px;
    padding-left: 15px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;    
}
.find-dropdown__label{
    display: inline-block;
    color: #1F2041;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;    
}