include ../menu/menu.pug
include ../../buttons/button/button.pug
div.header
    div.header--left
        img.header__logo-toxin(src= require('../images/logo.png'), alt="logo")
    div.header--right
        +menu(class="header__menu")
        div.header__buttons
            +border-button("Login")(class="header-buttons")
            +button("Register")(class="header-buttons")
        