@import "../../buttons/button/button.scss";
.header{
    display: flex;
    //background: $background;
    padding: 0 140px;
    height: 70px;
    justify-content: space-between;
}

.header__logo-toxin{        
    margin: auto 0;    
}
.header__buttons{
    margin: auto 0;
}
.header-buttons{
    height: 34px;
    margin-left:17px;
}
.header__menu{
    margin-right:-15px;
}
.header--left{
    display: flex;
    margin: auto 0;    
}
.header--right{
    display: flex;
    margin: auto 0;        
    justify-content: space-between;
}