.like-button{
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 20px;
    padding: 0;
    border: 0; 
    font-size: 10px;
    line-height: 18px;
    border-radius: 10px;
    z-index: -1;    
}
@mixin like-button__heart{
    position: absolute;
    display: inline-block;
    left:1px;
    top: 1px;
    width: 14px;
    height: 18px;
    border-radius: 10px 0 0 10px;    
}
.like-button--active{
    background: $purple-gradient;    
}
.like-button--no-active{    
    background: $dark-shade25;      
}
.like-button__heart{
    @include like-button__heart;
}
.like-button--active .like-button__heart{    
    background:url("../images/favorite.svg") no-repeat 4px 50% white;    
}

.like-button--no-active .like-button__heart{    
    background:url("../images/favorite_border.svg") no-repeat 4px 50% white;    
}

@mixin like-button__counter{
    position: absolute;
    display: inline-block;
    left: 14px;
    top: 1px;
    width: 25px;
    height: 18px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    font-size: 9px;
    line-height: 17px;
    background: white;
}
.like-button__counter{
    @include like-button__counter;    
}
.like-button--no-active .like-button__counter{
    color: $dark-shade25;      
}
.like-button--active .like-button__counter{
    color: $purple;      
}