mixin toggle-button(label,checked)
    label.toggle-button(class!=attributes.class) !{label}    
        if checked
            input.toggle-button__input(type='checkbox' name='onoffswitch' checked)
        else
            input.toggle-button__input(type='checkbox' name='onoffswitch')
        div.toggle-button__checkmark