.colorAndTypes__fontWrapper{
    position: relative;
    width: 430px;
    height: 70px;        
}
.colorAndTypes__fontSquare{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    opacity: 0.25;
    text-align: right;    
}
.colorAndTypes__fontExample{
    position: absolute;
    top: 0;
    left: 70px;
    width: 360px;      
}