@import '../dropdown/ghost-dropdown/ghost-dropdown.scss';
@import '../input/input.scss';
@import '../buttons/checkbox-button/checkbox-button.scss';
@import '../buttons/radio-button/radio-button.scss';
@import '../buttons/toggle-button/toggle-button.scss';
@import '../buttons/like-button/like-button.scss';
@import '../buttons/rate-button/rate-button.scss';


.formElements{
    width: 1440px;
    height: 900px;
}

.formElements__logo{
    position: absolute;
    top: 30px;
    left: 30px;    
}
.formElements__column1{
    float: left;
    width: 320px;
    margin-top: 133px;    
    margin-left: 133px;    
    //border: 1px dashed black;
}
.formElements__column2{
    float: left;    
    width:320px;
    margin-top: 136px;    
    margin-left: 126px;
    //border: 1px dashed black;
}
.formElements__inputDefault{
    margin-bottom: 17px;
}
.formElements__inputHover{
    margin-bottom: 17px;
}
.formElements__inputHover input{
    border: 1px solid $dark-shade50;
    color: $dark-shade75;
}
.formElements__ghostDropdown{
    margin-bottom: 20px;
}
.formElements__inputMasked{
    margin-bottom: 0;
}

.formElements__checkbox-button{
    margin-bottom: 5px;
}
.formElements__checkbox-buttons h3{
    margin-bottom: 13px;
}
.formElements__checkbox-buttons{
    margin-bottom: 38px;
}
.formElements__radio-buttons h3{
    margin-bottom: 12px;
}
.radio-button--woman{
    margin-left: 15px;
}
.formElements__radio-buttons{
    margin-bottom: 40px;
}
.formElements__toggle-buttons h3{
    margin-bottom: 15px;
}
.formElements__toggle-button{
    margin-bottom: 12px;
}
.formElements__toggle-buttons{
    margin-bottom: 31px;
}
.formElements__like-buttons h3{
    margin-bottom: 9px;
}
.formElements__like-button{
    margin-right: 6px;
}
.formElements__like-buttons{
    margin-bottom: 40px;
}
.formElements__rate-buttons h3{
    margin-bottom: 18px;
}
.formElements__rate-button{
    display: inline-block;
    margin-right:16px;
}