include ../../buttons/button/button.pug
mixin header-menu(isLogged,listObject,user)
    ul.menu.header__menu
        each listItem in listObject
            li.menu__item(class!=listItem.class)
                a(href= listItem.link)= listItem.text            
        if isLogged
            li.menu__item
                div.menu__separator
            li.menu__item
                a(href="#")= user
        else
            li.menu__item
                //div.header__buttons
                +border-button("Login")(class="header__button header__button-border")
                +button("Register")(class="header__button")

mixin footer-menu(title, listObject)
    ul.menu.footer__menu
        //первый элемент списка заголовок
        li.menu__item 
            h3= title
        each listItem in listObject
            li.menu__item
                a(href= listItem.link)= listItem.text