@import "../../buttons/button/button.scss";
.menu{
    display: flex;
    list-style: none;    
    padding: 0;           
    margin: 0;
}

.menu__item a{    
    text-decoration: none;
    color: $dark-shade50;
}
.menu__item_active a{
    font-weight: bold;
    color: $dark-shade75;
}

.menu__item_expand{
    margin-right: -3px;  
}

.menu__item_expand a:after{
    margin-left: 2px;
    content: url("../images/expand_more.svg");       
}
.menu__separator{
    width: 0px;
    height: 30px;
    border-left: 1px solid $dark-shade10;
    margin: auto 0;
}