mixin menu
    ul.header-menu(class!=attributes.class)
        li.header-menu__item
            a(href="#") Home
        li.header-menu__item 
            a(href="#") About Us
        li.header-menu__item.exp
            a(href="#") Services
        li.header-menu__item
            a(href="#") Careers
        li.header-menu__item
            a(href="#") News
        li.header-menu__item
            a(href="#") Documentation