@import '../buttons/button.scss';
@import '../buttons/radio-button/radio-button.scss';
@import '../buttons/toggle-button/toggle-button.scss';
@import '../input/input.scss';
@import '../common.scss';

.reg-account{
    @include box;
    width: 318px;   
    height: 564px;     
}
.reg-account h1{    
    margin-bottom: 20px;  
}

.reg-account h2{        
    margin-bottom: 5px;
}
.reg-account__input{
    margin-bottom: 10px;
}

.reg-account__sex{
    margin-bottom: 20px;
}

.reg-account__button-arrow{
    margin-top: 21px;
}

.reg-account__enter {
    height: 44px;
    vertical-align: middle;

}
.reg-account__enter text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin-top:  42px;
    padding-left: 1px;    
}
.reg-account__enter button{
    display: block;
    float: right;
    margin-top:30px;
    margin-bottom:30px;
}