div.reg-account    
    h1 Регистрация аккаунта
    input.default-input(type="text" placeholder="Имя")
    input.default-input(type="text" placeholder="Фамилия")
    include ../radio-button/radio-button.pug   
    .pos 
        +radio-button('Мужчина')    
        +radio-button('Женщина')
        